@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    background-color: #FFDC68;
    background-image:url(img/city2.jpg);
    color: #583B7E;
    background-position: center;
    background-size: 100%;
    background-attachment:fixed;

    
    padding-bottom: 100px;
}

.service{
    text-align: center;
    padding-top:0px;
    padding-bottom:15px;
} 

.service-title{
    font-size:xx-large; 
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    padding-top:5px;
    padding-bottom:5px;

} 

.det-style{
    padding:20px;
}


.service-footer{
    text-align: center;
} 

.service-button{
    padding:5px;
    margin:5px;
    border-radius: 4px;
} 

.service-description{
    padding-top:10px;
    padding-bottom:10px;
}



.header{
    text-align: center;
     
    background-color:transparent; 
    color: white;
    overflow: hidden;
    background-position: center;
    position: relative;
}

.sub-header{
    background-color:transparent;
    text-align: left;
    color: white;
    font-size:large;
    padding-left: 5px;
    
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 800px){
    body {
        padding-left:20px;
        padding-right:20px;
    }
}

nav ul li a{
  color: black;
}  

nav{
    padding-left: 100px; 
    padding-right:100px;
}

.main-container{
    padding-left:100px;
    padding-right:100px;
    padding-top:75px;
}